.Class1{
    position: relative;
    left: 45%;
    
}
.Class2{
    position: relative;
    left: 45%;
    
}
.Class3{
    position: relative;
    left: 45%;
    
}
.Class4{
    position: relative;
    left: 45%;
    
}
.Class5{
    position: relative;
    left: 45%;
    
}
.Class6{
    position: relative;
    left: 45%;
    
}